.settingsContainer {
  max-width: 400px;
  margin: auto;
}

.selectGroupContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.optionsGridContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;

  > button {
    cursor: pointer;
    border-radius: 5px;
    border-width: 3px;
    background: rgba(0,0,0,.8);
    padding: 1rem;

    &.selected {
      border-color: rgb(102, 255, 0);
    }
    
    &:hover,
    &:focus {
      border-color: rgb(153, 0 , 255);
    }

    .shapeContainer {
      display: grid;
      width: fit-content;
      margin: auto;
      grid-template-rows: repeat(3, 50px);
      grid-template-columns: repeat(3, 50px);
      grid-gap: 1px;
    }
  }
}